// Specific CSS for your home-page

.pic-main {
  height: 600px;
  width: 100%;
  border-radius: 15px;
  // object-fit: cover;
  // margin: auto 500px;
}

.pic-main-2 {
  height: 522px;
  width: 100%;
  object-fit: contain;
}

// carousel on home page
@media (min-width: 768px) {
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}


.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
}
.carousel__item {
  background-color: rgba(255, 234, 238, 0.5);
  width: 800px;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  tranform-origin: center left;
}
.carousel__item:hover ~ .carousel__item{
  transform: translate3d(100px, 0, 0);
  background-color: rgba(255, 234, 238, 2);
}
.carousel__container:hover .carousel__item {
  opacity:  0.3;
}
.carousel__container:hover .carousel__item:hover {
  transform: scale(1.1);
  opacity: 1;
}

.weak-margin .carousel__item {
  margin: 0 50px;
}
// // card board container dans lequel tu mets tes cards.
// .show-board {
//   display: flex;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   // white-space: nowrap;

//   width: 90%;

//   // trouver une solution pour la souris
//   margin: 0 auto;
//     &::-webkit-scrollbar {
//     display: none;
//   }
// }
