<div class="title-bar container">
  <h1 class="mb-5">Parcourir les spectacles</h1>

  <% if policy(@events).new? %>
    <%= link_to "Ajouter un spectacle", new_event_path, class: "btn btn-action" %>
  <% end %>
</div>
<div>
  <%= render "index-events" %>
</div>
