<div class="container mt-5">
  <h1 class="text-center mb-5">Bienvenue sur le site des apaches</h1>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div> <!-- container -->



<div class="image-home">
  <%= cl_image_tag "apaches/Sans-ascenseur-sample", class:"pic-main mt-5 mb-5" %>
</div>


<div class="spectacle container">
  <h1 class="mb-5">Spectacles</h1>


  <div class="event-card">
    <div class="show-pic">
      <%= cl_image_tag "apaches/affiche-ascenceur-2021", class:"pic-event" %>
    </div>
    <div class="show-description">
      <h2 >Sans ascenceur</h2>
      <div class="show-duration mb-3">
        <span><i class="far fa-clock"></i> 120 min</span>
        <span>  <i class="far fa-calendar-alt"></i>  Tous les samedis</span>
      </div> <!-- show  duration-->
      <div class="show-actor mb-2">
        <span><i class="fas fa-theater-masks"></i> Avec <strong>Thibaud Boursier</strong> et <strong>Valentin Rolland</strong></span>
      </div> <!-- show actor -->
      <div class="show-resume mb-2">
      <span><i class="fas fa-film"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
      </div> <!-- show resume -->
    </div> <!-- show description -->
  </div> <!-- event card -->




</div>
