.btn-ghost {
  color: $bordeaux;
  border: 2px solid $bordeaux;
  padding: 15px 25px;
  border-radius: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}
.btn-gradient {
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  font-weight: bold;
  background: rgba(52,129,131, 0.9);
  transition: background 0.3s ease;
  // border: 1px solid $dark-green;
}

.btn-gradient:hover {
  background: rgba(52,129,131, 1);
  color: white;
}
